* {
  margin: 0; }

.all {
  position: relative;
  left: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.all-1 {
  -webkit-transform: translate(-30%);
  -ms-transform: translate(-30%);
  transform: translate(-30%);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.all-bl {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 999;
  display: none; }

h1, h3, p, h2, li, h4, a, span, button {
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.8px; }

p, input, textarea {
  font-family: 'Montserrat';
  font-weight: normal;
  font-weight: 100;
  font-size: 19px; }

textarea, input {
  outline: 0; }

h3 {
  font-size: 20px; }

header {
  border: 1px solid red;
  width: 100%;
  height: 100vh; }
  header .bac {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
  header .menu {
    border: 1px solid red;
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100%; }
    header .menu .left {
      float: left; }
      header .menu .left h1 {
        font-size: 30px;
        margin: 10px 0; }
    header .menu .right {
      float: right; }
    header .menu .button {
      position: relative;
      z-index: 100000; }
      header .menu .button .click-on {
        float: right;
        margin: 1.28vw 0;
        z-index: 1001;
        position: relative;
        right: 0;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
      header .menu .button .line-1-1, header .menu .button .line-2-1 {
        width: 30px;
        height: 4px;
        margin: 10px 0;
        background-color: #fff; }

.right-toggle {
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.toggle-menu {
  position: fixed;
  width: 30%;
  height: 100vh;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #fff;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .toggle-menu .button {
    position: relative;
    z-index: 100000; }
    .toggle-menu .button .click-on {
      float: right;
      margin: 1.28vw 0;
      z-index: 1001;
      position: relative;
      right: 0;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .toggle-menu .button .line-1-1, .toggle-menu .button .line-2-1 {
      width: 30px;
      height: 4px;
      margin: 10px 0;
      background-color: #111; }
  .toggle-menu ul li {
    color: #111;
    font-size: 20px; }

.photo {
  width: 100%;
  height: 100%;
  margin: 15vw 0 6vw; }
  .photo .item {
    display: -webkit-box;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 1vw; }
  .photo h1 {
    font-size: 3vw;
    color: #EE8572;
    text-align: center;
    margin: 0 0 1vw; }
  .photo .img-item {
    margin-top: 2vw;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .photo .img-item:hover .fade-text {
      opacity: 1; }
    .photo .img-item .fade-text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
      opacity: 0;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .photo .img-item .fade-text .l {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .photo .img-item .fade-text .l svg {
          width: 4vw;
          margin: .2272727273em auto .6818181818em auto; }
        .photo .img-item .fade-text .l h2 {
          font-size: 2vw;
          color: #EE8572; }
        .photo .img-item .fade-text .l p {
          font-size: 1.5vw; }
  .photo .column {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    padding: 1vw 1vw;
    position: relative; }
    .photo .column img {
      vertical-align: middle;
      position: relative;
      z-index: 99; }
